/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIAVEIS*/
:root {
  --header-color: #000;
  --h1-color: #393c41;
  --h2-color: #6e7378;
  --btn-dark-bg: rgba(23, 26, 32, 0.8);
  --btn-light-bg: rgba(255, 255, 255, 0.65);
  --btn-dark-color: #fff;
  --btn-light-color: #000;
}

/*FONTES*/
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamMedium.otf);
}

@font-face {
  font-family: GothamBook;
  src: url(../fonts/GothamBookRegular.otf);
}

body {
  font-family: 'GothamMedium', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

